@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;800&display=swap');
*{
    margin: 0%;
    padding: 0%;
    font-family: 'Poppins', sans-serif;
    font-weight: 200;
}


header {
    background-color: #f44336;
    float: left;
    width: 20%;
    position: fixed;
    height: 100%;    
}
.principale{
padding-left: 200px;
    margin-left:  90px;
    overflow: hidden;
}
.image{
    height: 399px;
    width: 399px;
    float: left;
    margin: 12px;
}
.wrap{
    overflow: hidden;
    padding-left: 200px;
    margin-left:  90px;

}
.team{
    display: flex;
}
.tam1,.tam2, .tam3{
    box-sizing: border-box;
    background-color: rgb(203, 203, 203);
    width: 300px;
    overflow: hidden;
    margin:10px;
    padding: 12px;
}
.team img{
    margin-left: -15px;
    margin-top: -12px;
}
.you3 img{
    height: 200px;
}

  aside{
    padding-left: 200px;
    margin-left:  90px;
    
  }
table{
    border-collapse: collapse;
   
    text-align: center;
}
table , td, th {
   
    border: 1px solid rgb(238, 232, 232);
    width:900px;
    padding: 20px;
}
table tr td{
    background-color: rgb(219, 214, 214);
}
table tr th{
    background-color: rgb(71, 69, 69);
    color: #fff;
}
table tr #pro{
    background-color: #f44336;
    color: #fff;
}
table tr td button{
    border: none;
    background-color: #f44336;
    color: #fff;
    padding: 10px;
}
table tr td button:hover{
    background-color: black;
    color: #fff;
}
table tr #basic button{
    border: none;
    background-color: #fff;
    color: #000;
    padding: 10px;
}
table tr #basic button:hover{
    background-color: #000;
    color: #fff;
}
main{
    padding-left: 200px;
    margin-left:  90px;

   
}
input{
    width:750px;
    margin: 20px;
}
.messag{
    background-color: brown;
}

h2 ,h1{
    font-size: 24px;
    color: #f44336;
}
h3{
    color:#f44336;
}

nav{
    margin-left: 30px;
    margin-top: 50px;
}
nav ul li{
    list-style-type: none;
    margin: 15px;
}
nav ul li a{
    text-decoration: none;
    color: #fff;
    padding: 10px;
}
nav ul li a:hover{
    background-color: #fff;
    color: black;
}
#haybot h1{
color: #fff;
margin-left: 55px;
margin-top: 30px;
}
.bloc{
    background-color: #f44336;
    width: 50px;
    height: 10px;
    border-radius: 30px;
    margin-top: 50px;
    margin-left: -20px;
}
#send button{
    width: 100%;
    height: 40px;
    margin-left: 20px;
    padding: 0px;
    border: none;
    background-color: #f44336;
}
#send button:hover{
    background-color: rgb(121, 115, 115);
    color: #fff;
}
.contact{
    margin: 50px;
}
h1{
    color: #000;

}
h4{
    color: gray;
}
.titr,.tru,.wrap,#colom,.contact{
    margin-top: 30px;
}
#para,.para2,.para3,#yo{
    margin-top: 20px;
}
table{
    margin-top: 20px;
}
footer{
    background-color: rgb(186, 178, 178);
    height: 90px;
    width: calc(100% + -250px);
    margin-left: 250px;
   
}
input{
    width: 100%;
    height: 30px;
}
footer{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row-reverse;
}
.titl{
    margin: 20px;
}
.bloc{
    margin: 20px;
}
form{
    display: flex;
    flex-direction: column;
}